<div>
  <link href="./component13.css" rel="stylesheet" />
  <div class="component13-container">
    <div class="component13-container1">
      <img
        alt="image"
        src="public/playground_assets/quote-mark1.svg"
        class="component13-image"
      />
      <div class="component13-container2">
        <span class="component13-text lead1">
          <span>
            Definitely the best streaming app out there, kin music will be the
            #1 leading streaming app in Ethiopia, we hope you enjoy.
          </span>
        </span>
        <span class="subtitle1"><span>Abraham</span></span>
        <span class="component13-text2 lead2"><span>Developer</span></span>
      </div>
    </div>
  </div>
</div>
