<div>
  <link href="./component6.css" rel="stylesheet" />
  <div class="component6-container">
    <div class="component6-container1">
      <img
        alt="image"
        src="public/playground_assets/quote-mark1.svg"
        class="component6-image"
      />
      <div class="component6-container2">
        <span class="component6-text lead1">
          <span>
            Definitely the best streaming app out there, kin music will be the
            #1 leading streaming app in Ethiopia, we hope you enjoy.
          </span>
        </span>
        <span class="subtitle1"><span>Yonas</span></span>
        <span class="component6-text2 lead2">
          <span>Co-founder of Kinideas</span>
        </span>
      </div>
    </div>
  </div>
</div>
