<div>
  <link href="./component5.css" rel="stylesheet" />
  <div class="component5-container">
    <div class="component5-container1">
      <img
        alt="image"
        src="public/playground_assets/quote-mark1.svg"
        class="component5-image"
      />
      <div class="component5-container2">
        <span class="component5-text lead1">
          <span>
            We have built the most user friendly and amazing feature filled app
            for you, we hope you like it. Feel free to drop us your comments, we
            would appreciate that.
          </span>
        </span>
        <span class="subtitle1"><span>Hailemichael</span></span>
        <span class="component5-text2 lead2"><span>Developer</span></span>
      </div>
    </div>
  </div>
</div>
