<div>
  <link href="./component4.css" rel="stylesheet" />
  <div class="component4-container">
    <div class="component4-container1">
      <img
        alt="image"
        src="public/playground_assets/quote-mark1.svg"
        class="component4-image"
      />
      <div class="component4-container2">
        <span class="component4-text lead1">
          <span>
            Kin music is a highly anticipated product from kinideas. We hope it
            will satisfy listeners and artists needs as we strive to bring the
            best possible user experience to all music lovers out there, Enjoy!
          </span>
        </span>
        <span class="subtitle1"><span>Pawlos</span></span>
        <span class="component4-text2 lead2">
          <span>Co-founder of Kinideas</span>
        </span>
      </div>
    </div>
  </div>
</div>
